anki-export==0.1.4
ankitools==0.3.7
appdirs==1.4.4
beautifulsoup4==4.12.3
bs4==0.0.1
certifi==2024.8.30
charset-normalizer==3.4.0
et_xmlfile==2.0.0
idna==3.10
jdcal==1.4.1
lml==0.1.0
numpy==1.23.5
openpyxl==3.1.5
pandas==2.2.3
psutil==5.9.8
pyexcel-io==0.6.6
pyexcel-xlsx==0.5.8
pyexcel-xlsxwx==0.1.8
python-dateutil==2.9.0.post0
pytz==2024.2
requests==2.32.3
ruamel.yaml==0.17.40
ruamel.yaml.clib==0.2.12
six==1.16.0
soupsieve==2.6
tzdata==2024.2
urllib3==2.2.3
XlsxWriter==3.2.0